/* GENERAL -------------------- */

* {
  box-sizing: border-box;
}
body {
  font-family: "Open sans", sans-serif;
}
html {
  font-size: 62.5%;
}



/* SECTION I -------------------- */
.flex {
  display: flex;
  align-items: center;
  text-align: center;
}
.container {
  width: 70vw;
  margin: 5rem auto;
}


/* SECTION I - BOULE ------------ */
.boule {
  margin: 25vh auto 0;
}
span {
  background-color: black;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  font-size: 15vw;
  color: white;
  margin: 0 auto;
}


/* SECTION I - QUESTION ---------- */
section > div:nth-child(2){
  justify-content: space-between;
}
input, button{
  border: none;
  height: 5rem;
}
input {
  width: 68%;
  padding-left: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
}
button {
  width: 28%;
  background-color: #b5b5b5;
  color: white;
  border-radius: 0.5rem;
}

/* SECTION I - REPONSE ---------- */
section > div:nth-child(3){
  font-size: 1.5rem;
}


@media (max-width: 450px) {
  .boule {
    margin: 15vh auto 0;
  }
  .container{
    width: 90%;
  }
  span {
    height: 50vw;
    width: 50vw;
    border-radius: 50%;
    font-size: 40vw;
  }
  section > div:nth-child(2){
    flex-wrap: wrap
  }
  input {
    width: 100%;
  }
  button {
    margin-top: 2rem;
    width: 100%;
  }
 }